<h1>Chat Client</h1>
<div>
  <% if session[:user_id] != nil %>
    <p><%= @logged_user %></p>
  <% else %>
    <p>Not logged in</p>
  <% end %>
</div>
<div id="rooms-list">
  <ul>
    <% @rooms.each do |room| %>
<!--       <li><%= room.name %></li> -->
      <li><%= link_to(room.name, room_path(room)) %></li>
    <% end %>
  </ul>
</div>
