<h1>Chat Client</h1>
<div>
  <% if session[:user_id] == nil %>
    <%= link_to("Login", {controller: "user", action: "login"}) %>
  <% else %>
    <%= link_to("Logout", {controller: "user", action: "logout"}) %>
  <% end %>
</div>
<div>
  <% if session[:user_id] == nil %>
    <p>Attention! You are not logged in, login to enter a chatroom.</p>
  <% end %>
</div>
<div id="rooms-list">
  <ul>
    <% @rooms.each do |room| %>
<!--       <li><%= room.name %></li> -->
      <li><%= link_to(room.name, room_path(room)) %></li>
    <% end %>
  </ul>
</div>
