<h1><%= @room.name %></h1>
<p><i><%= @room.description %></i></p>
<p><%= @logged_user.username %></p>
<div id="messages-block">
  
</div>
<div id="message-form">
  <input type="text" placeholder="Enter a message...">
  <input type="submit" value="Send">
</div>