body {
  background-color: #363636;
  font-family: 'Satoshi', sans-serif;
  margin: 0;
}

#title {
  color: white;
  padding-left: 0.5rem;
}

#navbar {
  display: flex;
  justify-content: space-between;
  border: 1px solid white;
  align-items: center;
}

.log-btn {
  float: right;
  border: 1px solid white;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin-right: 0.25rem;
  border-radius: 5px;
}

.log-btn:hover {
  float: right;
  border: 1px solid #d7d7d9;
  background-color: #d7d7d9;
  color: black;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin-right: 0.25rem;
  border-radius: 5px;
}

.log-btn > h4 {
  color: white;
  text-align: center;
  height: 50%;
}

#rooms-list {
  list-style-type: none;
  padding: 0;
/*   display: grid; */
}

#room-card {
  border: 1px solid white;
  color: black;
  border-radius: 5px;
  text-decoration: none;
  background-color: white;
  padding: 2.5rem;
  margin: 1rem 1rem;
}

#room-card:hover {
  border: 1px solid #d7d7d9;
  color: black;
  border-radius: 5px;
  text-decoration: none;
  background-color: #d7d7d9;
  padding: 2.5rem;
  margin: 1rem 1rem;
}